<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">الصفحة الرئيسية</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">الأنشطة</a>
		<div class="dropdown-menu">
			<a class="nav-link text-dark" asp-area="" asp-controller="Revisions" asp-action="Index">مراجعات</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="Absences" asp-action="Index">غيابات</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="Groupes" asp-action="Index">مجموعات</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">الأشخاص</a>
		<div class="dropdown-menu">
			<a class="nav-link text-dark" asp-area="" asp-controller="Etudiants" asp-action="Index">طلاب</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="Enseignants" asp-action="Index">مدرسين</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">الإعدادات</a>
		<div class="dropdown-menu">
			<a class="nav-link text-dark" asp-area="" asp-controller="Huitiemes" asp-action="Index">أثمان</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="Hizbs" asp-action="Index">أحزاب</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="IdentificationEtudiants" asp-action="Index">تحديد الطلاب</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="IdentificationEnseignants" asp-action="Index">تحديد المدرسين</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">خصوصية</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">المسار</a>
		<div class="dropdown-menu">
			<a class="nav-link text-dark" asp-area="" asp-controller="Tracking" asp-action="StudentTrack" asp-route-id=1>الطالب</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="Tracking" asp-action="TeachertTrack" asp-route-id=1>المدرس</a>
		</div>
	</li>
</ul>